@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 8px 4px;

  font-weight: normal;
}

@media (min-width: 1280px) {
  body {
    display: flex;
    place-items: start;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
  }
  main {
    width: 1272px;
    font-size: 18px;

    &#attributes {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: 3rem;
    }
  }
}

@media (max-width: 1279px) {
  main {
    display: flex;
    font-size: 14px;
  }
}

/* Element Styles */
header {
  background-color: #eee;
  padding: 5px;
}

section {
  padding: 0.5em 1em;
  color: black;
  background-color: white;
  border: 1px solid red;
}

h2,
h3 {
  width: 100%;
  margin: 0;
  line-height: normal;
  font-size: large;
}

input,
select {
  font-size: 1.3em;
  width: 100%;
}

input[type='number'],
.number-input input {
  appearance: textfield;
  width: 2em;
  margin: 0 2px;
}

hr {
  margin-block: 16px 12px;
}

/* General Classes */

@for $i from 1 through 26 {
  .col-span-#{$i} {
    grid-column: span $i;
  }

  .row-span-#{$i} {
    grid-row: span $i;
  }

  .columns-#{$i} {
    grid-template-columns: repeat($i, 1fr);
  }
}

.grid {
  display: grid;
}

.flex {
  display: flex;

  &.align-end {
    align-items: end;
  }

  &.align-center {
    align-items: center;
  }

  &.align-start {
    align-items: start;
  }

  &.align-baseline {
    align-items: baseline;
  }

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

  &.wrap {
    flex-flow: wrap;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.justify-end {
    justify-content: end;
  }
}

.col-span-full {
  grid-column: 1/-1;
}

.full-width {
  width: 100%;
}

$sizes: (
  'sm': 0.5em,
  'md': 1em,
  'lg': 1.5em
);

@each $name, $size in $sizes {
  .margin-left-#{$name} {
    margin-left: $size;
  }

  .margin-right-#{$name} {
    margin-right: $size;
  }

  .margin-top-#{$name} {
    margin-top: $size;
  }

  .margin-bottom-#{$name} {
    margin-bottom: $size;
  }

  .margin-x-#{$name} {
    @extend .margin-left-#{$name};
    @extend .margin-right-#{$name};
  }

  .margin-y-#{$name} {
    @extend .margin-top-#{$name};
    @extend .margin-bottom-#{$name};
  }

  .margin-#{$name} {
    @extend .margin-y-#{$name};
    @extend .margin-x-#{$name};
  }

  .gap-#{$name} {
    gap: $size;
  }
}

/* Specific Classes */

.equals,
.plus,
.minus {
  font-size: 1.5em;
  justify-self: end;
  align-self: flex-end;

  @media (max-width: 1279px) {
    display: none;
  }
}

.equals {
  justify-self: start;
}

.equals::before {
  content: '=';
}

.plus::before {
  content: '+';
}

.minus::before {
  content: '-';
}

@keyframes squish {
  0% {
    transform: scale(100%);
  }

  100% {
    transform: scale(95%);
  }
}

a.router-button {
  color: inherit;
  line-height: 150px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid;
  border-color: inherit;
  width: 200px;
  text-decoration: none;
  font-weight: 600;
  font-size: map-get($sizes, 'md');

  &:hover {
    background-color: #eee;
    transition: background-color 0.5s ease-out;
  }

  &:active {
    animation: squish 0.04s ease-out;
  }
}

.skill-row {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
